/* Base css */

.alignleft {
    float:left;
    margin-right:15px;
}
.alignright {
    float:right;
    margin-left:15px;
}
.aligncenter {
    display:block;
    margin: 0 auto 15px;
}
a:focus {
    outline: 0 solid;
}
img {
    max-width: 100%;
    height:auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body {
    height: 100%
}
body {}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/* remove chrome input field's unwanted yellow background color */
input:-webkit-autofill, input:-webkit-autofill:hover,input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0px 1000px white inset !important;
}

.section-title h2 {
    position: relative;
    z-index: 1;
}
.section-padding {
    padding: 80px 0;
    text-align: center;
}
.section-title h2:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 5px;
    content: "";
    background: #79A0DB;
    margin-left: -30px;
}
.section-title h2:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 5px;
    width: 20px;
    margin-left: -10px;
    background: #BF164D;
    content: "";
}
.section-title h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.single-service-icon h3 {
    margin: 20px 0;
    font-size: 20px;
}
.service-icon-container {
    display: table;
    width: 100%;
    height: 62px;
    color: #E8C35F;
    font-size: 50px;
}
.service-icon-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.single-service-icon {
    text-align: center;
    display: block;
    color: #333;
    min-height: 240px;
    margin-bottom: 30px;
}


